* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: red;
 # border-style: double;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  align-items: center;
}

.header {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0;
  background-color: #1F2937;
  color: #F9FAF8;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;



}

.logo {
  padding-right: 10px;
}

.header-nav,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;

  background-color: #1F2937;

  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
  flex: 1 0 0;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

}

.title_1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  max-width: 200;

}

.content {
  color: #e5e7eb;
  font-size: 18px;
}

.main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 36px;
  font-weight: bolder;
  color:  #1F2937;
}

.cookie_info {
  display: flex;
 
  flex: 0 0 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cookie_types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  gap: 15px;
}

.cookie_info, .caption {
  width: 150px;
  padding: 15px;
  text-align: center;
  font-weight: normal;
  font-size: 17px;

}

.quote {
  margin: 0;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: normal;
}

.cookie_photo {
  border-radius: 20%;
}
#skewer {
  display: flex;
  flex: 0 0 0;
  padding-left: 20px
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.header-nav,
ul {
  list-style-type: none;
}

a {
  color: #F9FAF8;

}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
gap: 30px;
 width: 50%;
  background-color: #3882F6;
  font-size: 22px;

  color: white;
  margin-bottom: 20px;
  padding: 40px;
}

}